[Desktop Entry]
Type=Application
Name=White Noise Linux
GenericName=Secure Messenger
Comment=End-to-end encrypted group chat over Nostr
Exec=@APP@ %u
Terminal=false
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/marmot;
StartupWMClass=White Noise Linux
