[Desktop Entry]
Type=Application
Name=White Noise
GenericName=Secure Messenger
Comment=End-to-end encrypted group chat over Nostr
Exec=whitenoise %u
Icon=@ID@
Terminal=false
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/marmot;
StartupWMClass=White Noise Linux
